@page "/target-apps"
@using AcerPro.Presentation.Client.ViewModels;
@using AcerPro.Presentation.Client;

<PageTitle>Target Apps</PageTitle>

<div class="container">

    <div class="card border-0">
        <div class="card-body">
            <h4 class="card-title">Target Apps</h4>
            @if (TargetApps == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <p class="card-description d-flex justify-content-end">
                    <Button Type="@ButtonType.Primary" OnClick="@(() => NavigationManager.NavigateTo("/target-apps/add"))">Create</Button>
                </p>

                <Table DataSource="@TargetApps" TItem="TargetAppViewModel" Loading="@_loading" OnExpand="OnRowExpand">
                    <RowTemplate>
                        <PropertyColumn Title="Name" Property="@(c=> c.Name)" />
                        <PropertyColumn Title="Url Address" Property="@(c=>c.UrlAddress)" />
                        <PropertyColumn Title="Monitoring Interval(sec)" Property="@(c=> c.MonitoringIntervalInSeconds)" />
                        <PropertyColumn Title="Status" Property="@(c=> c.IsHealthy)" >
                            @if(context.IsHealthy.HasValue && context.IsHealthy.Value)
                            {
                                <Tag Color="green">Healthy</Tag>
                            }
                            else if (context.IsHealthy.HasValue && context.IsHealthy.Value == false)
                            {
                                <Tag Color="red">UnHealthy</Tag>
                            }
                        </PropertyColumn>
                        <PropertyColumn Title="Last Down DateTime" Property="@(c=> c.LastDownDateTime)" />
                        <PropertyColumn Title="Last Modified DateTime" Property="@(c=> c.LastModifiedDateTime)" />
                        <PropertyColumn Title="Actions" Property="@(c=> c.Id)">
                            <Button Size="@ButtonSize.Small" OnClick="@(() => NavigationManager.NavigateTo($"/target-apps/edit/{context.Id}"))" HtmlType="button">Edit</Button>
                            <Button Type="@ButtonType.Default" Size="@ButtonSize.Small" OnClick="@(() => NavigationManager.NavigateTo($"/target-apps/add-notifier/{context.Id}"))" HtmlType="button">Add Notifier</Button>
                        </PropertyColumn>
                    </RowTemplate>
                    <ExpandTemplate Context="rowData">
                        <Table DataSource="rowData.Data.Notifiers" Loading="rowData.Data.Notifiers==null" HidePagination>
                        <PropertyColumn Title="Address" Property="c=> c.Address" />
                        <PropertyColumn Title="Notifier Type" Property="c=> c.NotifierType">
                            <Tag Color="@context.NotifierType.GetNotifierColor()">@context.NotifierType</Tag>
                        </PropertyColumn>
                    </Table>
                </ExpandTemplate>
                </Table>
            }
        </div>
    </div>
</div>
@code {

}
